.wrap{
    min-width: 600px;
    width: 80%;
    margin: auto;
    background-color: greenyellow;
    overflow: hidden;
}

#content, aside{
    height: 300px;
}

#content{
    background-color: chocolate;
    float: left;
    width: 70%;
}

aside{
    min-width: 8%;
    background-color: teal; 
    float: left;
    width: 10%;
}

aside ul{
    padding-left: 18px;
    list-style: none;
}

footer{
    clear: both;
}