form li{
    list-style: none;
    margin-bottom: 20px;
}

label{
    display: block;
    cursor: pointer;
    color: #000;
    font-family: sans-serif;
}

ul{
    padding-left: 0%;
}

textarea{
    height:100px;
    width: 100px;
}