body{
    background-color: #C0C0C0;
    font-family: sans-serif;
    
}

blockquote{
    border: 1px solid white;
    text-align: center; 
    margin-left: 0%;
}

#push-middle{
    width: 500px;
    margin: auto;
}